.row {
   margin: 1em 1em 1em 1em !important; 
}
.column{
    margin: 1em 1em 1em 1em !important; 

}
body{
    background-color: #f8f9fa !important;
    /* opacity: 0;
    transition: opacity 4s;
    -webkit-transition: opacity 4s; Safari */
}

#project-text{
    padding-top: 1em;
    padding-bottom: 5em;
}

#buttonTop > button{
    top: 50% !important;
}

#buttonTop > .w3-display-right{
    right: -4%;
}

#buttonTop > .w3-display-left{
    left: -4%;
}

#mainNav .nav-link{
    color: black !important;
}

#about{
    background: #f8f9fa !important;
}



.fa-phone{
    color: #007bff !important;
}

.enlarged {
    max-width: 150em !important;
}



@media only screen and (min-width: 600px) and (max-width: 1050px) {

    #buttonTop > .w3-display-right{
        right: -2%;
    }
    
    #buttonTop > .w3-display-left{
        left: -2%;
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 599px) {

    #buttonTop > .w3-display-right{
        right: -5%;
    }
    
    #buttonTop > .w3-display-left{
        left: -5%;
    }
  }